@import 'variables' ;

body{
    background: $sidebar-dark;
}

.home-container{
    width: 100vw;
    max-width: 100vw;
    display: flex;
    color: white;
}

.home-sidebar{
    width: 15rem;
    min-width: 15rem;
    height: -webkit-fill-available;
    background-color: $sidebar-dark;
}

.home-body{
    width: 100%;
    background-color: $body-dark;
}